
<MudDialog>
	<TitleContent>
		<h5>Chọn người giao</h5>
	</TitleContent>
	<DialogContent>
		<EditForm >
			<MudSelect T="string">
				<MudSelectItem T="string">Abc</MudSelectItem>
				<MudSelectItem T="string">123</MudSelectItem>
				<MudSelectItem T="string">sdfsdf</MudSelectItem>
			</MudSelect>
		</EditForm>
	</DialogContent>
	<DialogActions>
		<MudButton Variant="Variant.Filled" Color="Color.Primary" >Ok</MudButton>
	</DialogActions>
</MudDialog>

@code {

}
